<%= line_chart chart_data_trades_url({ group_by: Trade::DEFAULT_VISUALIZATION_GROUP_BY }), points: false, refresh: 60 %>
<div>Configuration</div>
<table>
  <tr>
    <th>
      Group By
    </th>
    <td>
      <div>
        <% Trade::VISUALIZATION_GROUP_BYS.each do |group_by| %>
            <%= radio_button_tag(:group_by, group_by, group_by == Trade::DEFAULT_VISUALIZATION_GROUP_BY ? true : false) %>
            <%= label(:group_by, group_by) %>
        <% end %>
      </div>
    </td>
  </tr>
  <tr>
    <th>
      Moving Average Numerator
    </th>
    <td>
      <div>
        <% Trade::MOVING_AVERAGE_NUMERATORS.each do |moving_average_numerator| %>
            <%= radio_button_tag(:moving_average_numerator, moving_average_numerator, moving_average_numerator == Trade::DEFAULT_MOVING_AVERAGE_NUMERATOR ? true : false) %>
            <%= label(:moving_average_numerator, moving_average_numerator) %>
        <% end %>
      </div>
    </td>
  </tr>
  <tr>
    <th>
      Moving Average Denominator
    </th>
    <td>
      <div>
        <% Trade::MOVING_AVERAGE_DENOMINATORS.each do |moving_average_denominator| %>
            <%= radio_button_tag(:moving_average_denominator, moving_average_denominator, moving_average_denominator == Trade::DEFAULT_MOVING_AVERAGE_DENOMINATOR ? true : false) %>
            <%= label(:moving_average_denominator, moving_average_denominator) %>
        <% end %>
      </div>
    </td>
  </tr>
  <tr>
    <th>
      Window Start
    </th>
    <td>
      <div>
        <input class="datetimepicker" id="datepicker-start" value=<%= Date.today %>></input>
      </div>
    </td>
  </tr>
  <tr>
    <th>
      Window End
    </th>
    <td>
      <div>
        <input class="datetimepicker" id="datepicker-end" value=<%= Trade::DEFAULT_WINDOW_SIZE.days.from_now.at_end_of_day %>></input>
      </div>
    </td>
  </tr>
</table>
<%= button_tag 'Apply', { id: :apply_button } %>

<%# export_dates_hash.each do |starting_time, ending_time| %>
  <%# export_button(starting_time: starting_time, ending_time: ending_time) %>
<%# end %>
